<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head', { title: "SHPP library admin page"}) %>
</head>

<body data-gr-c-s-loaded="true" class="">
<%- include('./parts/header', {admin:""}) %>
<section id="main" class="main-wrapper">
    <div class="container">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="display: flex;justify-content: space-between; font-size: 20px">
                <div class="title">Бібліотека Ш++</div>
                <div class="title"><a href="">Log out</a></div>
            </div>
            <div style="display: flex;justify-content: space-evenly; margin-top: 20px">
                <%- include('./parts/admin-page/table', {books:books}) %>
                <%- include('./parts/admin-page/form') %>
            </div>
        </div>
    </div>
</section>
<%- include('./parts/footer') %>
<script src="http://localhost:3000/admin/front"></script>
</body>
</html>