<!DOCTYPE html>
<html lang="en">

<%- include('./parts/head', { title: "SHPP library main page"}) %>

<body data-gr-c-s-loaded="true" class="">
<%- include('./parts/header', {admin:"<a href='http://localhost:3000/admin'><span class='fa-stack fa-sm'>Admin</span></a>"}) %>
<section id="main" class="main-wrapper">
    <div class="container">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <% if(books) { %>
                <% books.forEach(book => { %>
                    <%- include('./parts/bookPreview', {book:book}) %>
                <% }); %>
            <% } %>
        </div>
    </div>

    <div style="text-align: center;">
        <% if (prev) { %>
            <a href="http://localhost:3000/?counter=<%= counter - limit %>">
                <button type="button" class="btnBookID btn-lg btn btn-success"><<</button>
            </a>
        <% } %>
        <% if (next) { %>
            <a href="http://localhost:3000/?counter=<%= counter + limit %>">
                <button type="button" class="btnBookID btn-lg btn btn-success">>></button>
            </a>
        <% } %>
    </div>
</section>
<%- include('./parts/footer') %>
<%- include('./parts/somethings') %>
</body>

</html>